{{/* Header */}}

<div class="header">
    <h1 class="header-title">{{ site.Title }}</h1>
    

    <div class="flex">
        {{ $currentPage := . }}

        {{ with site.Params.menu }}
        {{ range . }}
        <p class="small {{ if eq .url $currentPage.Path }} bold {{end}}">
            <a href="{{.url}}">
                /{{.name }}
            </a>
        </p>

        <p>        </p>
        {{ end }}
        {{ end }}
        {{ with .Site.Params.social }}
        <div class="social-icons">
            {{- range . }}
            <a href="{{ trim .url " " | safeURL }}" target="_blank"
            rel="noopener noreferrer me"
            title="{{ (.title | default .name) | title }}">
            {{ partial "svg.html" . }}
            </a>
            {{- end }}
        </div>
    {{ end }}
    </div>

</div>